* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $negro!important;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'vision-black';
    cursor: default;
}
a {
    text-decoration: none!important;
    font-family: 'Inter', sans-serif;
}
P {
    font-family: 'Inter', sans-serif;
    cursor: default;
}